<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/html-head.html :: fragment-html-head"></div>
</head>
</head>
<body>

    <div th:replace="/fragments/header.html :: fragment-header"></div>

    <!--
    <div th:if="${member} == null">
        <a href="/oauth2/authorization/google" role="button">Google Login</a>
        <a href="/oauth2/authorization/naver" role="button">Naver Login</a>
    </div>
    <div th:if="${member} != null">
        <span th:text="${member.name}"></span>
        <a href="/logout" role="button">Logout</a>
        <span th:text="|session: ${session.member.name}|"></span>
    </div>
    -->

</body>
</html>